<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/projects.css">

<% projects.forEach((project) => { %>
        <div class="card">
            <div class="card-content">
                <h3><%= project.title || 'Nombre no disponible' %></h3>
                <p><%= project.description || 'Descripción no disponible' %></p>
                <a href="<%= project.link || '#' %>">Gituhb</a>
                <a href="project/<%= project.id || '#' %>">Ver más</a>
                <div class="card-footer">
                    <form action="/projects" method="DELETE">
                        <button class="delete-btn" data-project-id="<%= project.id %>">
                            <img src="../img/trash-icon.png" alt="Borrar" class="trash-icon" width="25"/>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <% }) %>
        <script>
            const deleteButtons = document.querySelectorAll('.delete-btn');
        
            deleteButtons.forEach((btn) => {
                btn.addEventListener('click', async (event) => {
                    event.preventDefault()
        
                    const response = await fetch('/projects', {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({ project_id: btn.getAttribute('data-project-id') })
                        })
        
                    
                })
            })
        </script>
        